:root{
    --cor-fonte: coral;
    --fonte:30px;
}
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    color: var(--cor-fonte);
    font-size: var(--fonte);
}

.menu{
    font-size: 80px;
    color: brown;
    margin: 0;
}

p{
    font-size: 20-px;
    color:chartreuse
}
a{
    font-size: large;
    color:darkorange;
}
ul{
    display:flex;
    list-style:none;
    margin-top: 0;
}
li{
    
    margin:20px;
}

body{
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.unid {
   
    padding-bottom: 10px;

}

.container1{
    width: 20%;
    height:5%;
    font-size: 1,5rem;
    
    background-color: red;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.container2 {
    width: 50%; 
    height:5%;
    
    
    background-color: green;
   
}

#container3 {
    width: 20%;
    height:5%;
    font-size: 16px;
    margin-top: 15px;
    background-color: blue;
    margin-bottom: 10px;
    padding-bottom: 10px;
}